# treat this format carefully no inline comments, that will get uploaded as a secret
# --- secrets ---
OPENAI_API_KEY=<openai_api_key> 
ANTHROPIC_API_KEY=<anthropic_api_key>
FAL_API_KEY=<fal_api_key>
GOOGLE_OAUTH_CLIENT_SECRET=<google_oauth_client_secret>
JWT_SECRET_KEY=<jwt_secret_key>
AUTH_SESSION_SECRET=<auth_session_secret>
GOOGLE_OAUTH_CLIENT_ID=<google_oauth_client_id>

# --- variables ---
GCP_PROJECT_ID=<gcp_project_id>
GCP_STORAGE_BUCKET=<gcp_storage_bucket>
GCP_REGION=<gcp_region>
GOOGLE_APPLICATION_CREDENTIALS=<google_application_credentials_location_for_local_development>
DATABASE_URL=<database_url_for_local_development_cloud_does_not_need_this>