# docker-compose.yml
services:
  db:
    image: postgres:18
    container_name: postgres-uno
    environment:
      POSTGRES_PASSWORD: "123456"
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
